doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Diadok form
		link(rel='stylesheet', href='main.css')
		//- script(type="text/javascript" src="main.js")
	body
		.container
			h2 Акт сдачи-приемки №2 от 29.05.2020
			p.text-center Исправление № ___ от ___
			//- br
			//- br
			section.mt-lg
				p Доксвижн консалт выполнил, Доксвижн Северо-Запад принял следующие работы (услуги)
				.row.mt-sm
					div Основания передачи (сдачи)
					.underline.grow 2 №3 от 29.05.2020
			section.mt-lg
				table
					thead
						tr
							th lask
							th lask
							th lask
							th lask
							th lask
