doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Diadok form
		link(rel='stylesheet', href='main.css')
		//- script(type="text/javascript" src="main.js")
	body
		.container
			h2 Акт сдачи-приемки №2 от 29.05.2020
			p.text-center Исправление № ___ от ___
			//- br
			//- br
			section.mt-lg
				p Доксвижн консалт выполнил, Доксвижн Северо-Запад принял следующие работы (услуги)
				.row.mt-sm
					div Основания передачи (сдачи)
					.underline.grow 2 №3 от 29.05.2020
			section.mt-lg
				table
					thead
						tr
							th.small Но- мер по по- рядку
							th.big Наименование работы (услуги)
							th Единица измерения
							th Кол-во
							th Цена (тариф) за единицу
							th Стоимость работ (услуг) всего без налога
							th Сумма налога
							th Сумма с учетом налога
						tr.petit
							td 1
							td 2
							td 3
							td 4
							td 5
							td 6
							td 7
							td 8
					tbody
						tr
							td.text-center 1
							td Шаверма по ливански
							td.text-center шт
							td.text-right 10
							td.text-right 1.12
							td.text-right 112
							td.text-right 2.00
							td.text-right 114
