body {
	margin: 2rem;
	background: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.container {
	width: 860px;
	box-sizing: border-box;
	margin: 0 auto;
	background: #fff;
	padding: 2rem 4rem;
	min-height: 500px;
}
h2 {
	margin: 0;
	font-size: 1.2rem;
	text-align: center;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-bold {
	font-weight: 600;
}
.mt-lg {
	margin-top: 3rem;
}
.mt-md {
	margin-top: 2rem;
}
.mt-sm {
	margin-top: 1.2rem;
}
.row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
	.label {
		font-size: 0.8rem;
		&.small {
			width: 30%;
		}
	}
}
.underline {
	border-bottom: 1px solid #333;
	min-height: 20px;
	position: relative;
	.hint {
		font-size: 0.6rem;
		font-weight: 400;
		color: #666;
		position: absolute;
		bottom: -12px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.grow {
	flex-grow: 1;
}
table {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.7rem;
	td,
	th {
		border: 1px solid #333;
		padding: 2px 3px;
		&.small {
			width: 33px;
		}
		&.big {
			width: 40%;
		}
	}
	th {
		font-weight: 400;
	}
	td {
		height: 1.2rem;
	}
	&.noborder {
		font-size: 0.6rem;
		th,
		td {
			border: none;
			text-align: left;
			vertical-align: top;
			padding-top: 4px;
		}
	}
}
.petit {
	font-size: 0.6rem;
	th {
		text-align: center;
		color: #666;
	}
	border-top: 2px solid #333;
}
.total {
	font-weight: bold;
	font-size: 0.8rem;
	text-align: right;
	td:first-child {
		border: none;
	}
}
.sign {
	display: flex;
	justify-content: flex-start;
	align-items: top;
	font-size: 0.8rem;
	width: 100%;
	.block1 {
		width: 50%;
		padding-right: 0.5rem;
		border-right: 1px solid #333;
	}
	.block2 {
		width: 50%;
		padding-left: 0.5rem;
	}
	.row {
		gap: 0.5rem;
		height: 36px;
	}
}
.diadok {
	width: 94%;
	min-height: 100px;
	margin-top: 3rem;
	border: 2px solid #6398b5;
	position: relative;
	color: #6398b5;
	padding: 1rem;
	.round {
		width: 60px;
		height: 60px;
		background: #fff;
		border: 2px solid #6398b5;
		border-radius: 50%;
		position: absolute;
		right: -30px;
		top: -30px;
		text-align: center;
		svg {
			margin-top: 12px;
			width: 60%;
		}
	}
	.id {
		font-size: 0.6rem;
		background: #fff;
		position: absolute;
		padding: 4px 10px;
		top: -12px;
		right: 31px;
		text-align: right;
	}
	.text {
		font-size: 1rem;
	}
}
.nowrap {
	white-space: nowrap;
	svg {
		width: 13px;
		vertical-align: top;
		margin-right: 4px;
	}
}
